@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #011627;
	--background-header: #011627;
	--background-editor-header: #202020;
	--background-editor-header-hover: #323232;
	--background-terminal-header: #f7f7f7;
}

body {
	background-color: var(--background);
}

.header {
	display: flex;
	background-color: var(--background-header);
	color: white;
	padding: 1.5rem;
	justify-content: center;
	align-items: center;
}

.header h1 {
	font-size: 1.5rem;
}

.container {
	height: 100%;
	width: 90%;
	height: 15rem;
	margin: 1rem auto;
}

/* Windows switch styles */
.SwitchButton-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.SwitchButton {
	color: #fff;
	background-color: var(--background-editor-header);
	font-size: 1.3rem;
	min-width: 15%;
	width: 7rem;
	border: 1px solid #fff;
}

.SwitchButton:hover,
.SwitchButton_selected {
	background-color: var(--background-editor-header-hover);
	cursor: pointer;
}
/* Translator Styles */
.translator {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.container-translator{
	height: 100%;
	width: 45%;
	height: 15rem;
	margin: 1rem auto;
}

/* Code Editor Styles */

.editor {
	margin-bottom: 1rem;
	border: 1px solid grey;
}

.lowerEditor {
	margin-top: 10rem;
}

.editor-header {
	display: flex;
	flex-direction: row;
	font-family: "Source Code Pro", monospace;
	justify-content: flex-start;
	padding: 0.25rem;
	background-color: var(--background-editor-header);
	color: white;
	border-bottom: 1px solid grey;
}

.button-container {
	display: flex;
	margin-left: auto;
	margin-right: 1rem;
	flex-direction: row;
}

.editor-button {
	padding: 0.2rem 0.5rem;
	margin: 0 0.25rem;
	background-color: var(--background);
	color: white;
	border-radius: 5%;
}

.file-reader {
	display: none;
}

/* Terminal styles*/
.terminal {
	height: 100%;
}

.terminal-container {
	margin: auto;
	width: 100%;
	height: fit-content;
	min-height: 100%;
	background: #000;
	border: 0.5px solid #ccc;
	border-radius: 7px;
}

.terminal-header {
	width: 100%;
	height: 1.5rem;
	border-radius: 5px 5px 0 0;
}

.buttons {
	grid-column-gap: 1px;
	margin-top: 10px;
	margin-left: 5px;
}

.buttons .btn {
	float: left;
	margin-left: 7px;
	width: 12px;
	height: 12px;
	border-radius: 100%;
}

.buttons .btn:hover {
	background: blue;
}

.terminal-content {
	width: 100%;
	height: 100%;
	font-family: "Source Code Pro", monospace;
	font-size: 0.8rem;
	line-height: 1;
}

.terminal-content p {
	color: #fff;
	padding: 5px 15px 0 15px;
}

.terminal-content p.error {
	color: red;
}

.terminal-content p.warning {
	color: yellow;
}

.log:last-of-type {
	margin-bottom: 1rem;
}

.red {
	background: red;
}

.yellow {
	background: yellow;
}

.green {
	background: green;
}
